.comment-box {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.comment-box img {
    width: 35px !important;
    height: 35px !important;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-box .comment-container {
    padding: 10px;
    background: #F2F3F5;
    border-radius: 18px;
    max-width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .comment-box div {
        max-width: 100%;
    }
}

.comment-box div .username {
    margin: 0;
    font-weight: bold;
    color: #385898;
}

.comment-box div span {
    color: #535557;
}

.comment-options {
    padding-left: 4px;
}

.comment-options button {
    color: #535557;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    outline: none;
}

.comment-options button:hover {
    color: #385898;
}

.comment-options span {
    cursor: default;
    color: #777 !important;
}

.comment-options .date {
    color: #535557 !important;
    font-size: 12px;
}